p{
  color:white;
}
h1{
  background-color: green;
}
h2{
  font-size:30px;
  }
  body{background-color: black;}
  .articulo1{background-color: pink;}
  .articulo1{font-size: 40px;}
#parrafo{font-size:40px;}
